# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Env files
.env
.env.*

# Virtual environments
venv/
.env/
.venv/

# Docker
docker-compose.yml

# Data
postgres_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log